.connexion-body {
    @include navBar;

    @include hero;

    .connexion-section {

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            padding: 2rem;
            width: 100%;

            background-color: rgba(255, 255, 255, 0.246);
            box-shadow: rgb(0, 0, 0) 0px 0px 10px;
            border-radius: 20px;
            width: 40%;
            height: 40%;
            margin: 6rem auto;

            @media screen and (max-width: 950px) {
                width: 80%;
                height: 50%;
            }

            .connexion-email, .connexion-motDePasse, .connexion-motDePasseValid, .connexion-lastName, .connexion-firstName {
                display: flex;
                flex-direction: column;
                width: 80%;
            }

            .connexion-inputSubmit {
                @include button(0.5rem, 2rem);
            }
        }
    }

    @include footer;
}