.galerie-body {

    @include navBar;

    @include hero;

    .galerie-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        width: 100%;

        button {
            @include button(0.5rem, 2rem);
        }

        .galerie-containerPhoto {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            width: 900px;

            .galerie-photo {
                position: relative;
                transition: all 0.1s ease-in-out;
                height: 200px;

                &:hover {
                    transform: scale(1.1);

                    @media screen and (max-width: 950px) {
                        transform: none;
                    }

                    img {
                        filter: brightness(0.6);
                    }

                    .galerie-overlayIconMod, .galerie-overlayIconTrash, .galerie-overlayTitre {
                        display: flex;
                        padding: 1rem;
                        z-index: 1;
                    }
                }

                .galerie-overlayIconMod {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.90);
                    }
                    
                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .galerie-overlayIconTrash {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: none;

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        transform: scale(0.90);
                    }

                    svg {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    
                }

                .galerie-overlayTitre {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    color: white;
                    display: none;

                    &:hover {
                        cursor:default;
                    }
                }
            }

            @media screen and (max-width: 950px) {
                grid-template-columns: 1fr 1fr;
                width: 350px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }

    .modalAdd {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }
    
        .modalAdd-body {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;

                @media screen and (max-width: 950px) {
                    width: 95%;
                    
                }

                .modalAdd-header {
                    padding: 2px 16px;
                    background-color: $secondary;
                    color: white;
                    text-align: center;

                    .modalAdd-close {
                        color: white;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    
                        &:hover,
                        &:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }

                .modalAdd-main {
                    padding: 2rem;
                
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;

                        .modalAdd-titreImg, .modalAdd-addImg {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            text-align: center;
                            align-items: center;
                            width: 30%;

                            @media screen and (max-width: 950px) {
                                width: 100%;
                                
                            }
                        }
                    }
                
                        .modalAdd-inputSubmit {
                            @include button(0.5rem, 2rem);
                        }
                    }
                    
                }
    }
    .modalModif {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }
    
        .modalModif-body {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;

                @media screen and (max-width: 950px) {
                    width: 95%;
                    
                }

                .modalModif-header {
                    padding: 2px 16px;
                    background-color: $secondary;
                    color: white;
                    text-align: center;

                    .modalModif-close {
                        color: white;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    
                        &:hover,
                        &:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }

                .modalModif-main {
                    padding: 2rem;
                
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;

                        .modalModif-titreImg, .modalModif-addImg {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            text-align: center;
                            align-items: center;
                            width: 30%;

                            @media screen and (max-width: 950px) {
                                width: 100%;
                                
                            }
                        }
                    }
                
                        .modalModif-inputSubmit {
                            @include button(0.5rem, 2rem);
                        }
                    }
                    
                }
    }
    .modalDelete {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }
    
        .modalDelete-body {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;

                @media screen and (max-width: 950px) {
                    width: 95%;
                    
                }

                .modalDelete-header {
                    padding: 2px 16px;
                    background-color: $secondary;
                    color: white;
                    text-align: center;

                    .modalDelete-close {
                        color: white;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    
                        &:hover,
                        &:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }

                .modalDelete-main {
                    padding: 2rem;
                
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;

                    .modalDelete-inputDelete {
                        @include button(0.5rem, 2rem);
                        background-color: red;
                    }

                        .modalDelete-titreImg, .modalDelete-addImg {
                            display: flex;
                            flex-direction: column;
                            gap: 0.5rem;
                            text-align: center;
                            align-items: center;
                            width: 30%;

                            @media screen and (max-width: 950px) {
                                width: 100%;
                                
                            }
                        }
                    }
                
                        .modalDelete-inputCancel {
                            @include button(0.5rem, 2rem);
                        }
                    }
                    
                }
    }
            
        @include footer;
    }