.nosMenus-body {

    @include navBar;

    @include hero;

    .nosMenus-sectionAdmin {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-top: 2rem;
        width: 100%;

        @media screen and (max-width: 950px) {
            width: 90%;
            margin: auto;
        }

        button {
            @include button(0.5rem, 2rem);
            width: 200px;
        }
    }

    .nosMenus-sectionMenu {

            .nosMenus-containerMenu {
            display: flex;
            align-items: center;
            flex-direction:row-reverse;
            justify-content: center;
            gap: 2rem;
            padding: 2rem;
            width: 880px;
            margin: auto;

            @media screen and (max-width: 950px) {
                flex-direction: column-reverse;
                width: 80%;
            }

            .nosMenus-menu1, .nosMenus-menu2 {
                background-color: white;
                width: 50%;
                padding: 2rem;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                transition: all 0.2s ease-in-out;

                @media screen and (max-width: 950px) {
                    width: 100%;
                }


                h2, h3 {
                    text-align: center;
                    padding: 1rem;
                }

                &:hover {
                    transform: scale(1.05);
                    cursor: default;
                }
            }
        }
    }
    
    .modalModif {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        
        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0} 
            to {top:0; opacity:1}
        }
        
        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }
    
        .modalModif-body {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s;

                @media screen and (max-width: 950px) {
                    width: 95%;
                    
                }

                .modalModif-header {
                    padding: 2px 16px;
                    background-color: $secondary;
                    color: white;
                    text-align: center;

                    .modalModif-close {
                        color: white;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    
                        &:hover,
                        &:focus {
                            color: #000;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                }

                .modalModif-main {
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    .formulaire-menuDuMidi, .formulaire-menuDuSoir {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        width: 100%;
                    }
                
                        .modalModif-inputSubmit {
                            @include button(0.5rem, 2rem);
                        }
                    }
                    
                }
    }

    @include footer;
    
}