.accueil-body {
    
    @include navBar;

    @include hero;
    
    .accueil-sections {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: $primary;
            font-size: 1.5rem;
        }

        button {
            @include button(0.5rem, 4rem);
        }

        .accueil-sectionBackgroundDark {
            background-color: $bg-dark;
            color: white;
            width: 100%;
        }

        section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            padding: 2rem 0;
            width: 100%;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: 10px;

                @media screen and (max-width: 950px) {
                    height: 100%;
                    width: 100%;
                }
            }

            .accueil-containerSection1, .accueil-containerSection3 {
                width: 900px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                align-items: center;

                @media screen and (max-width: 950px) {
                    width: 350px;
                }

                p {
                    text-align: end;
                }
            }
            .accueil-containerSection2 {
                width: 900px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                align-items: center;
                justify-items: end;
                color: white;

                @media screen and (max-width: 950px) {
                    width: 350px;
                }

                p {
                    text-align: start;
                }
            }
        }
    }
    
    @include footer;

}