@import "./customs/variables";
@import "./customs/mixins";
@import "./pages/index.scss";
@import "./pages/accueil.scss";
@import "./pages/galerie.scss";
@import "./pages/nosMenus.scss";
@import "./pages/connexion.scss";
@import "./pages/monCompte.scss";
@import "./pages/réservations.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hind Madurai", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

body {
  opacity: 0;
  transition: opacity 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

.isValid {
  background-color: #cbefcc45;
  border: 1px solid #4caf50;
  box-shadow: 0 0 5px #4caf50;

  ::after {
    content: "✔";
    color: #4caf50;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.isInvalid {
  background-color: #eba49f48;
  border: 1px solid #f4433648;
  box-shadow: 0 0 5px #f4433648;
}

input:focus {
  outline: none;
}